body {
  color: #3f5871!important;
  font-family: Roboto-mono, monospace!important ;
}

.double-razor {
	&:before,
	&:after {
		height: 3px;
		box-shadow: 0 -0.5px 0 black, 0 0.5px 0 black;
		border: solid black; // Safari
		border-width: 0;
	}
}