#AppHeader {
    height: 100vh;
    background-image: url('../img/headerPic2.jpg');
    background-size: 220%;
    background-repeat: no-repeat;
    background-position: -55vw -40vh;
    background-color: #999bf0;
    background-attachment: fixed;
}

#header {
    height: 100%;
}

#JumbotronHeader {
    position: relative;
    top:25%;
    height: 40%;
    width: 100%;
    background-color: rgba(233, 236, 239, .8);
    margin-bottom: 50vh;
}

#JumbotronText {
    margin: 0 10vw;
}

.hiddenText{
    padding-top: 8vh;
}